<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/common.css">
    <link rel="stylesheet" href="styles/answers.css">
    <title>Правильные ответы</title>
</head>
<body>
<header class="header">
    <div class="container">
        <img src="images/Logo.png" alt="logo">
    </div>
</header>
<section class="main">
    <div class="container">
        <div class="answers-test-title">
            <div class="answers-test-pre-title">
                Результат прохождения теста
                <img src="images/arrow-gray.png" alt="arrow">
            </div>
            <div class="answers-title-name" id="answers-title-name"></div>
        </div>
        <div class="answers-right-answers common-title"><span>Правильные ответы</span> к тесту</div>
        <div class="answers-user-data" id="answers-user-data"></div>
        <div class="answers-questions" id="answers-questions">

        </div>
        <div class="answers-back-to-result">
            <a href="result.html">Обратно к моему результату теста</a>
            <img src="images/arrow.png" alt="">
        </div>
    </div>
</section>
<footer class="footer">«АйтилогияQuiz» © Все права защищены / 2022</footer>
<script src="scripts/answers.js"></script>
</body>
</html>