
<section class="main">
    <div class="container">
        <div class="main-data">
            <h1 class="main-data-title common-title">Введите свои <span>данные</span></h1>
            <div class="main-data-input">
                <input type="text" id="name" class="form-input" required>
                <label for="name" class="input-label">Имя</label>
            </div>
            <div class="main-data-input">
                <input type="text" id="surname"  class="form-input" required>
                <label for="surname" class="input-label">Фамилия</label>
            </div>
            <div class="main-data-input">
                <input type="text" id="email" class="form-input" required>
                <label for="email" class="input-label">Электронная почта</label>
            </div>
            <div class="checkbox">
                <input type="checkbox" id="agree" required>
                <label for="agree" class="checkbox-label">Я ознакомлен с <a href="#">правилами сайта</a></label>
            </div>
            <div class="main-data-button">
                <button class="button" id="process" disabled>Перейти к выбору теста</button>
            </div>
        </div>
        <div class="main-image">
            <img src="../static/images/Info-image.png" alt="image">
        </div>

    </div>
</section>