
<section class="main">
    <div class="container">
        <div class="test-pre-title" id="pre-title">Тест №1. "JavaScript: Начальный уровень"</div>
        <div class="test-progress-bar" id = "test-progress-bar">

        </div>
        <h1 class="test-title common-title" id="test-title"><span>Вопрос 2:</span> Тут должен быть текст вопроса?</h1>
        <div class="test-answers" id="test-answers">

        </div>
        <div class="test-actions">
            <div class="test-action">
                <button class="button transparent-button" id="prev" disabled>Назад</button>
            </div>
            <div class="test-time">
                <div class="test-time-text">Осталось времени:</div>
                <div class="test-time-value" id="timer">59</div>
            </div>
            <div class="test-action">
                <button class="button transparent-button" id="next" disabled>Дальше</button>
            </div>
        </div>
        <div class="skip-question" >
            <a href="javascript:void(0)" class="skip-question-text" id="skip-question">Пропустить вопрос</a>
            <div class="skip-question-arrow"><img src="../static/images/arrow.png" alt="arrow"></div>
        </div>
    </div>
</section>